<html>
<head>
<title>activity_hal__menu__utama.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,0); }
.s5 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_hal__menu__utama.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s4"> 
</span><span class="s2">&lt;</span><span class="s5">RelativeLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingBottom=</span><span class="s3">&quot;16dp&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;16dp&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;16dp&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingTop=</span><span class="s3">&quot;16dp&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;com.example.jowyblight.uts.Hal_Menu_Utama&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textmenuutama&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
        </span><span class="s1">android:textSize=</span><span class="s3">&quot;30dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/black&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;Menu Utama&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">LinearLayout</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/lin2&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginLeft=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;50dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/textmenuutama&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;</span><span class="s5">Button</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/btnlist&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:background=</span><span class="s3">&quot;@color/gray&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;List Olahraga&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;</span><span class="s5">Button</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/btnabout&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:background=</span><span class="s3">&quot;@color/colorPrimary&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;About&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;</span><span class="s5">Button</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/btnexit&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2"> 
            </span><span class="s1">android:background=</span><span class="s3">&quot;@color/red&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;Exit&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;/</span><span class="s5">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
 
</span><span class="s2">&lt;/</span><span class="s5">RelativeLayout</span><span class="s2">&gt;</span><span class="s4"> 
</span></pre>
</body>
</html>