<html>
<head>
<title>activity_hal__detail__olahraga.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #999999; font-weight: normal; font-style: normal; }
.s0 { color: rgb(0,0,0); font-style: italic; }
.s1 { color: rgb(0,0,255); font-weight: bold; }
.s2 { color: rgb(0,0,0); }
.s3 { color: rgb(0,128,0); font-weight: bold; }
.s4 { color: rgb(0,0,0); }
.s5 { color: rgb(0,0,128); font-weight: bold; }
</style>
</head>
<BODY BGCOLOR="#ffffff">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#c0c0c0" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
activity_hal__detail__olahraga.xml</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;?</span><span class="s1">xml version=</span><span class="s3">&quot;1.0&quot; </span><span class="s1">encoding=</span><span class="s3">&quot;utf-8&quot;</span><span class="s0">?&gt;</span><span class="s4"> 
</span><span class="s2">&lt;</span><span class="s5">RelativeLayout </span><span class="s1">xmlns:android=</span><span class="s3">&quot;http://schemas.android.com/apk/res/android&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:app=</span><span class="s3">&quot;http://schemas.android.com/apk/res-auto&quot;</span><span class="s2"> 
    </span><span class="s1">xmlns:tools=</span><span class="s3">&quot;http://schemas.android.com/tools&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:layout_height=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingLeft=</span><span class="s3">&quot;16dp&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingRight=</span><span class="s3">&quot;16dp&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingTop=</span><span class="s3">&quot;16dp&quot;</span><span class="s2"> 
    </span><span class="s1">android:paddingBottom=</span><span class="s3">&quot;16dp&quot;</span><span class="s2"> 
    </span><span class="s1">tools:context=</span><span class="s3">&quot;com.example.jowyblight.uts.Hal_Detail_Olahraga&quot;</span><span class="s2">&gt;</span><span class="s4"> 
     
    </span><span class="s2">&lt;</span><span class="s5">LinearLayout</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/lin3&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:orientation=</span><span class="s3">&quot;vertical&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/black&quot;</span><span class="s2"> 
            </span><span class="s1">android:textSize=</span><span class="s3">&quot;25dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;Jenis Olahraga yang dipilih :&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
         
        </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
            </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/textolahraga&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginTop=</span><span class="s3">&quot;15dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;15dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:textSize=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
         
        </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:textSize=</span><span class="s3">&quot;20dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;15dp&quot;</span><span class="s2"> 
            </span><span class="s1">android:textColor=</span><span class="s3">&quot;@color/black&quot;</span><span class="s2"> 
            </span><span class="s1">android:text=</span><span class="s3">&quot;Waktu Olahraga (Jam)&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
    </span><span class="s2">&lt;/</span><span class="s5">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
    </span><span class="s2">&lt;</span><span class="s5">LinearLayout</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/lin4&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;match_parent&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:orientation=</span><span class="s3">&quot;horizontal&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginRight=</span><span class="s3">&quot;120dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_marginBottom=</span><span class="s3">&quot;15dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/lin3&quot;</span><span class="s2">&gt;</span><span class="s4"> 
         
        </span><span class="s2">&lt;</span><span class="s5">RelativeLayout</span><span class="s2"> 
            </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
            </span><span class="s1">android:layout_weight=</span><span class="s3">&quot;1&quot;</span><span class="s2">&gt;</span><span class="s4"> 
 
            </span><span class="s2">&lt;</span><span class="s5">ImageButton</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/kurang&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_alignParentLeft=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_alignParentStart=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_centerVertical=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                </span><span class="s1">android:onClick=</span><span class="s3">&quot;view.getId()&quot;</span><span class="s2"> 
                </span><span class="s1">android:contentDescription=</span><span class="s3">&quot;@string/subbtractone&quot;</span><span class="s2"> 
                </span><span class="s1">android:src=</span><span class="s3">&quot;@drawable/ic_min&quot; </span><span class="s2">/&gt;</span><span class="s4"> 
 
            </span><span class="s2">&lt;</span><span class="s5">TextView</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/jam&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_centerHorizontal=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_centerVertical=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                </span><span class="s1">android:text=</span><span class="s3">&quot;0&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
            </span><span class="s2">&lt;</span><span class="s5">ImageButton</span><span class="s2"> 
                </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/tambah&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_width=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_alignParentEnd=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_alignParentRight=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                </span><span class="s1">android:layout_centerVertical=</span><span class="s3">&quot;true&quot;</span><span class="s2"> 
                </span><span class="s1">android:onClick=</span><span class="s3">&quot;view.getId()&quot;</span><span class="s2"> 
                </span><span class="s1">android:contentDescription=</span><span class="s3">&quot;@string/addone&quot;</span><span class="s2"> 
                </span><span class="s1">android:src=</span><span class="s3">&quot;@drawable/ic_plus&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
        </span><span class="s2">&lt;/</span><span class="s5">RelativeLayout</span><span class="s2">&gt;</span><span class="s4"> 
 
 
    </span><span class="s2">&lt;/</span><span class="s5">LinearLayout</span><span class="s2">&gt;</span><span class="s4"> 
 
    </span><span class="s2">&lt;</span><span class="s5">Button</span><span class="s2"> 
        </span><span class="s1">android:id=</span><span class="s3">&quot;@+id/btnolahraga&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_width=</span><span class="s3">&quot;240dp&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_height=</span><span class="s3">&quot;wrap_content&quot;</span><span class="s2"> 
        </span><span class="s1">android:layout_below=</span><span class="s3">&quot;@+id/lin4&quot;</span><span class="s2"> 
        </span><span class="s1">android:textAllCaps=</span><span class="s3">&quot;false&quot;</span><span class="s2"> 
        </span><span class="s1">android:text=</span><span class="s3">&quot;Lakukan Olahraga&quot;</span><span class="s2">/&gt;</span><span class="s4"> 
 
</span><span class="s2">&lt;/</span><span class="s5">RelativeLayout</span><span class="s2">&gt;</span><span class="s4"> 
</span></pre>
</body>
</html>